/* stylelint-disable custom-property-empty-line-before */
@import 'tailwindcss';
@import 'tw-animate-css';
@import './markdown.css';
@import 'shadcn/tailwind.css';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

/* --- Fonts: PingFang SC --- */

@font-face {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/npm/font-pingfang-sc@1.0.5/PingFangSC-Regular.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 500;
  src: url('https://cdn.jsdelivr.net/npm/font-pingfang-sc@1.0.5/PingFangSC-Medium.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 600;
  src: url('https://cdn.jsdelivr.net/npm/font-pingfang-sc@1.0.5/PingFangSC-Semibold.woff2')
    format('woff2');
  font-display: swap;
}

/* --- Fonts: Wotfard --- */

@font-face {
  font-family: Wotfard;
  font-style: normal;
  font-weight: 600;
  src: url('https://cdn.jsdelivr.net/gh/coderking3/static/fonts/wotfard-semibold.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Wotfard;
  font-style: normal;
  font-weight: 500;
  src: url('https://cdn.jsdelivr.net/gh/coderking3/static/fonts/wotfard-medium.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Wotfard;
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/coderking3/static/fonts/wotfard-regular.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Wotfard;
  font-style: italic;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/coderking3/static/fonts/wotfard-regular-italic.woff2')
    format('woff2');
  font-display: swap;
}

/* --- Fonts: FiraCode --- */

@font-face {
  font-family: FiraCode;
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/gh/coderking3/static/fonts/FiraCodeNerdFont-Regular.ttf')
    format('truetype');
  font-display: swap;
}

/* @font-face {
  font-family: FiraCode;
  font-style: normal;
  font-weight: 500;
  src: url('https://cdn.jsdelivr.net/gh/coderking3/static/fonts/FiraCodeNerdFont-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: FiraCode;
  font-style: italic;
  font-weight: 500;
  src: url('https://cdn.jsdelivr.net/gh/coderking3/static/fonts/FiraCodeNerdFont-Medium-Italic.ttf')
    format('truetype');
  font-display: swap;
} */

/* --- Theme tokens --- */

@theme inline {
  /* Fonts */
  --font-sans: 'Wotfard', 'PingFang SC';
  --font-mono: var(--font-roboto-mono), 'PingFang SC';
  --font-logo: var(--font-audiowide);
  --font-code: 'FiraCode', 'PingFang SC';

  /* Base colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Containers */
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  /* Semantic colors */
  --color-brand: var(--brand);
  --color-brand-foreground: var(--brand-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  /* Form & interaction */
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* Sidebar */
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Radius system */
  --radius: var(--radius);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

/* --- Light mode --- */

:root {
  --background: oklch(100% 0 0deg); /* #ffffff */
  --foreground: oklch(33.4% 0.0181 272.2deg); /* #333640 */

  --card: var(--background);
  --card-foreground: var(--foreground);
  --popover: var(--background);
  --popover-foreground: var(--foreground);

  --primary: oklch(21.03% 0.0059 285.89deg); /* #18181b */
  --primary-foreground: oklch(97.91% 0 0deg); /* #f8f8f8 */

  --brand: oklch(55.98% 0.1882 266.4deg); /* #4169e1 */
  --brand-foreground: oklch(97.91% 0 0deg); /* #f8f8f8 */

  --secondary: oklch(96.12% 0 0deg); /* #f2f2f2 */
  --secondary-foreground: var(--foreground);

  --muted: var(--secondary);
  --muted-foreground: oklch(56% 0.004 270deg); /* #747477 */

  --accent: var(--secondary);
  --accent-foreground: oklch(27.39% 0.0055 286.03deg); /* #27272a */

  --destructive: oklch(60% 0.15 25deg); /* #ca5651 */
  --destructive-foreground: var(--primary-foreground);

  --border: oklch(88.22% 0 0deg); /* #d8d8d8 */
  --input: var(--border);

  --ring: var(--primary);

  --radius: 0.625rem;

  --sidebar: oklch(98.2% 0.001 250deg); /* #f8f9fa */
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

/* --- Dark mode --- */

.dark {
  --background: oklch(16.83% 0.0061 248.19deg); /* #0d0f11 */
  --foreground: oklch(92.12% 0.0046 258.33deg); /* #e3e5e8 */

  --card: var(--background);
  --card-foreground: var(--foreground);
  --popover: var(--background);
  --popover-foreground: var(--foreground);

  --primary: oklch(90% 0.005 248.19deg); /* #dcdee1 */
  --primary-foreground: oklch(15% 0.01 248.15deg); /* #080c0f */

  --brand: oklch(72.11% 0.1441 268.6798deg); /* #809fff */
  --brand-foreground: oklch(98% 0 0deg); /* #f8f8f8 */

  --secondary: oklch(22.5% 0.008 248.15deg); /* #1a1c1f */
  --secondary-foreground: var(--foreground);

  --muted: var(--secondary);
  --muted-foreground: oklch(62% 0.01 248.15deg); /* #82878c */

  --accent: oklch(27.5% 0.01 248.19deg); /* #24282c */
  --accent-foreground: oklch(100% 0 0deg); /* #ffffff */

  --destructive: oklch(60% 0.15 25deg); /* #ca5551 */
  --destructive-foreground: var(--brand-foreground);

  --border: oklch(28.5% 0.008 248.15deg); /* #272b2e */
  --input: var(--border);

  --ring: var(--primary);

  --sidebar: oklch(20.57% 0.0073 229.27deg); /* #14181a */
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

/* --- Base layer --- */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground scroll-pt-12 overflow-x-hidden scroll-smooth font-sans antialiased;
  }

  ::selection {
    color: var(--background);
    background-color: var(--brand);
  }
}
