@keyframes draw-arrow-up {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  22.22% {
    clip-path: inset(0 0 0 0);
  }

  77.77% {
    clip-path: inset(0 0 0 0);
  }

  99.07% {
    clip-path: inset(0 100% 0 0);
  }

  100% {
    clip-path: inset(0 100% 0 0);
  }
}

@keyframes draw-arrow-down {
  0% {
    clip-path: inset(0 0 0 100%);
  }

  22.22% {
    clip-path: inset(0 0 0 0);
  }

  77.77% {
    clip-path: inset(0 0 0 0);
  }

  99.07% {
    clip-path: inset(0 0 0 100%);
  }

  100% {
    clip-path: inset(0 0 0 100%);
  }
}

@keyframes draw-divider-line {
  0% {
    clip-path: inset(0 50% 0 50%);
  }

  22.22% {
    clip-path: inset(0 0 0 0);
  }

  77.77% {
    clip-path: inset(0 0 0 0);
  }

  99.07% {
    clip-path: inset(0 50% 0 50%);
  }

  100% {
    clip-path: inset(0 50% 0 50%);
  }
}

.logo-animate .arrow-up {
  clip-path: inset(0 100% 0 0);
  animation: draw-arrow-up 5.45s ease-out infinite;
}

.logo-animate .arrow-down {
  clip-path: inset(0 0 0 100%);
  animation: draw-arrow-down 5.45s ease-out infinite;
}

.logo-animate .divider-line {
  clip-path: inset(0 50% 0 50%);
  animation: draw-divider-line 5.45s ease-out infinite;
}
