@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* ---------- Fonts ---------- */
  --font-sans: var(--font-roboto), var(--font-noto-sans);
  --font-mono: var(--font-roboto-mono);

  /* ---------- Base Colors ---------- */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* ---------- Containers ---------- */
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  /* ---------- Semantic Colors ---------- */
  --color-brand: var(--brand);
  --color-brand-foreground: var(--brand-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  /* ---------- Form & Interaction ---------- */
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* ---------- Radius System ---------- */
  --radius: var(--radius);
}

/* 
  Light Mode
*/
:root {
  /* Background: 页面整体背景色 */
  --background: oklch(100% 0 0deg); /* #ffffff */

  /* Foreground: 主要文本颜色 */
  --foreground: oklch(44.95% 0 0deg); /* #555555 */

  /* Card & Popover: 卡片和弹出层背景，与 Background 同色，依靠边框区分层次 */
  --card: var(--background);
  --card-foreground: var(--foreground);
  --popover: var(--background);
  --popover-foreground: var(--foreground);

  /* Primary: 核心交互色，用于主要按钮和重点元素 */
  --primary: oklch(21.03% 0.0059 285.89deg); /* #18181b */
  --primary-foreground: oklch(97.91% 0 0deg); /* #f8f8f8 */

  /* Brand: 品牌主色调，用于强调和关键交互 */
  --brand: oklch(55.98% 0.1882 266.4deg); /* #4169e1  */
  --brand-foreground: oklch(97.91% 0 0deg); /* #f8f8f8 */

  /* Secondary: 次要背景和辅助区域 */
  --secondary: oklch(96.12% 0 0deg); /* #f2f2f2 */
  --secondary-foreground: var(--foreground);

  /* Muted: 低优先级内容和禁用状态 */
  --muted: var(--secondary);
  --muted-foreground: oklch(56% 0.004 270deg); /* #747477 */

  /* Accent: 悬停状态和高亮强调 */
  --accent: var(--secondary);
  --accent-foreground: oklch(27.39% 0.0055 286.03deg); /* #27272a */

  /* Destructive: 危险操作和错误提示 */
  --destructive: oklch(60% 0.15 25deg); /* #ca5651 */
  --destructive-foreground: var(--primary-foreground);

  /* Border: 边框和分割线 */
  --border: oklch(88.22% 0 0deg); /* #d8d8d8 */
  --input: var(--border);

  /* Ring: 聚焦轮廓 */
  --ring: var(--primary);

  /* Radius: Bento 风格圆角 */
  --radius: 0.875rem;
}

/* 
  Dark Mode
*/
.dark {
  /* Background: 页面整体背景色 */
  --background: oklch(16.83% 0.0061 248.19deg); /* #0d0f11 */

  /* Foreground: 主要文本颜色 */
  --foreground: oklch(92.12% 0.0046 258.33deg); /* #e3e5e8 */

  /* Card & Popover: 卡片和弹出层背景，与 Background 同色，依靠边框区分层次 */
  --card: var(--background);
  --card-foreground: var(--foreground);
  --popover: var(--background);
  --popover-foreground: var(--foreground);

  /* Primary: 核心交互色，用于主要按钮和重点元素 */
  --primary: oklch(90% 0.005 248.19deg); /* #dcdee1 */
  --primary-foreground: oklch(15% 0.01 248.15deg); /* #080c0f */

  /* Brand: 品牌主色调，用于强调和关键交互 */
  --brand: oklch(72.11% 0.1441 268.6798deg); /* #809fff */
  --brand-foreground: oklch(98% 0 0deg); /* #f8f8f8 */

  /* Secondary: 次要背景和辅助区域 */
  --secondary: oklch(22.5% 0.008 248.15deg); /* #1a1c1f; */
  --secondary-foreground: var(--foreground);

  /* Muted: 低优先级内容和禁用状态 */
  --muted: var(--secondary);
  --muted-foreground: oklch(62% 0.01 248.15deg); /* #82878c */

  /* Accent: 悬停状态和高亮强调 */
  --accent: oklch(27.5% 0.01 248.19deg); /* #24282c */
  --accent-foreground: oklch(100% 0 0deg); /* #ffffff */

  /* Destructive: 危险操作和错误提示 */
  --destructive: oklch(60% 0.15 25deg); /* #ca5551  */
  --destructive-foreground: var(--brand-foreground);

  /* Border: 边框和分割线 */
  --border: oklch(28.5% 0.008 248.15deg); /* #272b2e */
  --input: var(--border);

  /* Ring: 聚焦轮廓 */
  --ring: var(--primary);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }

  /* 既然不要冷也不要暖，选中色就用中性的反转色 */
  ::selection {
    color: var(--background);
    background-color: var(--brand);
  }
}

/* 
  Shiki Highlight
*/

/* 当网站处于暗黑模式时 */
html.dark pre[data-theme='light'] {
  display: none; /* 隐藏亮色代码块 */
}

/* 当网站处于亮色模式时 */
html.light pre[data-theme='dark'] {
  display: none; /* 隐藏暗色代码块 */
}

/* 代码块容器 */
pre {
  @apply my-6 overflow-x-auto rounded-lg p-4;
}

/* 代码块内部 */
pre > code {
  @apply grid;
}

/* 行号 */
code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  @apply mr-4 inline-block w-4 text-right text-gray-500;

  content: counter(line);
  counter-increment: line;
}

/* 高亮行 */
.highlighted {
  @apply -ml-4 border-l-4 border-blue-500 bg-gray-700/50 pl-3;
}

/* 高亮字符 */
.word {
  @apply rounded border-b-2 border-blue-500 bg-blue-500/20 px-1;
}

/* 内联代码 */
:not(pre) > code {
  @apply rounded bg-gray-100 px-2 py-1 font-mono text-sm dark:bg-gray-800;
}
